/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: $font-stack;
  font-weight: 400;
  background: rgb(255,243,205);
background: linear-gradient(150deg, rgba(255,243,205,1) 0%, rgba(255,255,255,1) 18%, rgba(232,239,255,1) 37%, rgba(255,255,255,1) 51%, rgba(255,248,226,1) 67%, rgba(255,255,255,1) 84%, rgba(230,237,255,1) 100%);
}

main{
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
}

ul,
ol{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}