// FOOTER STYLES START
.site-footer{
    padding-top: 246px;
    padding-bottom: 104px;
    background-color: #fff;
    
    &__list{
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    
    &__title{
        margin-top: 0;
        margin-bottom: 16px;
        font-family: 'Sora';
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        color: $primary-text-color;
    }
    
    &__desc:not(:last-child){
        margin-top: 0;
        margin-bottom: 12px;
    }

    &__desc{
        font-family: 'Lexend';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $primary-text-color;
        opacity: 0.6;
    }
    
    &__link{
        display: inline-block;
        margin-bottom: 16px;
    }

    &__social--links{
        margin-right: 16px;
    }
    
    
    
}




// FOOTER STYLES END